body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.portrait-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px;
    padding: 20px;
    background-color: #e0f7fa; /* Light blue background color */
    border-radius: 15px; /* Rounded corners for the container */
}

.portrait-page {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .portrait-container {
        grid-template-columns: 1fr; /* Change to a single column layout for smaller screens */
    }

    .portrait-page {
        margin-bottom: 20px;
    }
}

.text-content {
    padding: 20px;
}




input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px; /* Rounded corners for the buttons */
}

#Selected-id{
    margin-top: 0px;
    border-radius: 0px;
}

button:hover {
    background-color: #45a049;
}


/* Add this at the end of your existing CSS */

/* Bottom navigation bar styling */
.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, #3498db, #e74c3c); /* Gradient background */
    display: flex;
    justify-content: space-between; /* Changed to space-between for equal spacing */
    align-items: center;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-navbar button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.bottom-navbar button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background on hover */
}
