body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  header {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, #ffcc99, #ff9966);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 153, 102, 0.3);
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  button {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  #displayResults {
    margin-top: 20px;
  }
  
  #displayResults h2 {
    color: #e74c3c;
  }
  

  .back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.back-button button {
    padding: 10px 20px;
    background-color: #3498db; /* Change to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button button:hover {
    background-color: #2980b9; /* Change to your preferred hover color */
}