html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom right, #ffb6c1, #ffffff);
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 5px;
    right: 35px;
    padding: 10px;
    width: 100%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 3px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

/* Apply specific background colors to individual navigation items */
.navbar #saved-workouts a {
    background-color: #3498db;
}

.navbar #achievements a {
    background-color: #e67e22;
}

.navbar #contact-us a {
    background-color: #27ae60;
}

/* Media Query for smaller screens (e.g., iPhone 11 Pro Max) */
@media only screen and (max-width: 414px) {
    .navbar {
        padding: 5px;
    }

    .navbar a {
        padding: 8px;
        font-size: 0.8em;
    }
}

.logo {
    text-align: left;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s ease;
    /* Add a smooth transition effect */
}

h1 {
    text-align: center;
    padding: 10px;
    color: #333;
    font-size: 2em;
    margin: 20px 0 0;
    /* Added margin to the top */
}

#settings-icon {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

#settings-icon img {
    width: 20px;
    height: 20px;
}

#settings-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}

/* Media Query for smaller screens (e.g., iPhone 11 Pro Max) */
@media only screen and (max-width: 414px) {
    .logo {
        max-width: 70px;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
        padding: 5px;
    }

    #settings-icon {
        padding: 5px;
    }
}

body {
    background: linear-gradient(to bottom right, #ffb6c1, #ffffff);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* Add padding to the body to create space at the top */
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow-x: auto;
}

.expandable-box {
    width: 30%;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    /* Adjust the right margin as needed for larger screens */
    margin-bottom: 20px;
    /* Add margin at the bottom of each box */
}

.gif-container {
    margin-top: 5%;
    overflow: hidden;
}

.gif-container img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .expandable-box {
        width: 80%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

/* Media query for larger screens */
@media (min-width: 769px) {
    .section2 {
        justify-content: center;
        /* Center the boxes horizontally on larger screens */
    }

    .expandable-box {
        width: 30%;
        /* Adjust the width as needed for larger screens */
        margin-right: 40px;
        /* Adjust the right margin to move the boxes more to the right on larger screens */
    }
}


.hidden-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-x: auto;
    z-index: 2;
    width: 80%;
    max-height: 80vh;
}

.tiny-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
}

.portrait-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.portrait-page {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    /* Allow portrait pages to take full width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

.portrait-page img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.portrait-page .text-content {
    flex-grow: 1;
}

.portrait-page strong {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.portrait-page p {
    line-height: 1.4;
    margin-bottom: 15px;
    color: #fff;
}

.portrait-page button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Larger screens */
@media (min-width: 769px) {
    .hidden-content {
        max-width: 60%;
    }
}

/* Smaller screens */
@media (max-width: 768px) {
    .hidden-content {
        max-width: 90%;
    }
}